body 
{
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Century Gothic', sans-serif, Arial;
}
h1,h2,h3,h4,h5,h6,p
{
	margin:0;
}
 ul
{
	padding: 0;
	margin: 0;
}
label
{
	margin:0;
}
a {
    text-decoration: none;
    outline: 0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: 0.2s color linear;
    -moz-transition: 0.2s color linear;
    -o-transition: 0.2s color linear;
    transition: 0.2s color linear;
}
.loader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/loader18.gif) 50% 50% no-repeat rgb(249,249,249);
}

.header-top 
{
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 1px 1px 0;
    width: 100%;
    /*background: rgba(0,0,0,0.9);*/
    background: none;
}
.logo
{
    float: left;
    margin-top: 1em;
    color: #3399cc;
    z-index: 1001;
}
.logo h4
{
    font-size: 1.5em;
}
.logo span
{
    font-weight: 500;
}
.logo a:hover
{
    text-decoration:none;
    color: #0033cc;
}
.nav-top
{
    margin-top: 0.8em;
    float: right;
}
.nav-top ul
{
    padding: 0;
    float: right;
    margin: 0;
}
.nav-top ul li
{
    display: inline-block;
    float: left;
    position: relative;
}
.nav-top ul li a
{
    font-size: 1.2em;
    font-family: Calibri;
    text-decoration: none;
    color: #3399cc !important;
    padding: 0.4em 1em;
    display: block;
}
.nav-top ul li a:hover,.nav-top ul li.active a
{
	color: #008080 !important;
}
@media(max-width: 500px)
{
 .nav-top ul li a
    {
        font-size: 1em !important;
        font-family: Calibri;
        text-decoration: none;
        color: #eee;
        padding: 0.4em 0.5em;
        display: block;
    }
    .logo h4
    {
        font-size: 1.2em;
    }
}
.midnightHeader.default 
{
  background: none;
  color: #fff;
}
.midnightHeader.white
{
    background: rgba(255, 255, 255, 0.95);
    color: #000;
}
.midnightHeader.white ul li a
{
    color: #000;
}
.midnightHeader.white ul li a:hover,.nav-top ul li.active a
{
	color: #3399cc;
}

.midnightHeader.blue
{
    background: rgba(102,179,207,0.95);
    color: #000;
}
.midnightHeader.blue ul li a
{
    color: #000;
}
.midnightHeader.blue ul li a:hover,.nav-top ul li.active a
{
	color: #3399cc;
}

.midnightHeader.grey
{
    background: rgba(244,244,244,0.95);
    color: #000;
}
.midnightHeader.grey ul li a
{
    color: #000;
}
.midnightHeader.grey ul li a:hover,.nav-top ul li.active a
{
	color: #3399cc;
}

.banner-section
{
    background: url(../img/lion.jpg) 0 0 no-repeat fixed;
    background-color: #000;
    width: 100%;
    display: block;
    min-height: 655px;
    background-size: cover;
    text-align: center;
    position: relative;
    padding: 80px 0;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.banner-info
{
    color: #fff;
    margin-top: 40px;
    padding: 20px;
}
.banner-info span
{
    color: #3399cc;
}
.banner-section h1
{    
    font-size: 46px;
    font-weight: 600;
    padding-bottom: 20px;
}
.banner-section p
{
    font-size: 22px;
    padding-bottom: 20px;
   
}
.banner-btn-group
{
    margin: 10px;
    padding: 10px;
}
.banner-btn
{
    border: 1px solid #3399cc;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    color: #fff;
    background: none;
}
.banner-btn:hover
{
    border: 1px solid #3399cc;
    background-color: #3399cc;
    text-decoration: none;
    color: #fff;
}
.job-titles
{
    color: #fff;
    margin-top: 25px;
    text-align: center;
}
.title-wrap
{
    padding: 30px;
    /*border: 1px solid #eee;*/
    font-size: 40px;
}
.job-titles i
{
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #008080;
}
.title-wrap p
{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #008080;
    margin-top: 10px;
}
.section-header
{
    text-align: center;
    padding: 50px 0 25px 0;
}
.section-header h1
{
    letter-spacing: 1px;
    font-size: 36px;
    font-weight: 600;
    font-family: Calibri;
}
.section-header h4
{
    letter-spacing: 1px;
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 5px;
    font-family: Calibri;
}
.about-section
{
    padding: 30px 0 50px;
    background-color: #f4f4f4;
	/*background: url(../img/wavey.jpg) 0 0 no-repeat;*/
	width: 100%;
    display: block;
    background-size: cover;
    position: relative;	
}
.about-summary
{
    font-size: 17px;
    font-weight: 300;
    color: #333;
    font-style: italic;
    text-align: center;
}
.about-de-code
{
    margin-top: 10px;
    padding: 10px 0;
}
.about-head
{
    margin: 5px 0;
    padding: 8px;
}
.about-head h4
{
    font-size: 18px;
    font-weight: 500;
    color: #ff4500;
}
.about-spec
{
    font-size: 16px;
    font-weight: 300;
    color: #333;
}
.des
{
    
    padding: 10px 10px 30px;
}
.cod
{
    
    padding: 10px 10px 30px;
}
.des h4
{
    color: #008080;
}
.cod h4
{
    color: #008080;
}

.clients-section
{
    padding: 10px 0;
    background-color: #0f1419;
	/*background: url(../img/simple-blue.jpg) 0px 0px no-repeat;*/
	width: 100%;
    display: block;
    background-size: cover;
    position: relative;	
}
.clients-header
{
    color: #fff;
}
.client-group
{
    margin-bottom: 10px;
    padding: 15px 0;
}
.client-name
{
    border-left: 2px solid #ff4500;
    color: #fff;
    margin: 10px 0;
}
.client-name h4
{
    font-family: Calibri;
    font-weight: 600;
}

.qualification-section
{
    padding: 20px 0 50px;
    background-color: #f4f4f4;
}
.qualification-half
{
    padding: 10px 0;
}
.qualification-half h4
{
    margin-bottom: 10px;
}
.qualification-group
{
    margin: 10px 0;
    padding: 5px 0;
}
.qualification-group h4
{
    margin-bottom: 10px;
    font-weight: 600;
}
.qualification-group em
{
    margin-right: 20px;
    line-height: 1.2em;
}

.service-section
{
    padding: 50px 0 30px;    
    background-color: #f4f4f4;
}
.service-group
{
    margin-bottom: 10px;
    padding: 10px 0;
    text-align: center;
    color: #333;
}
.service-block
{
    padding: 10px;
}
.service-icon
{    
    border: 1px solid #3399cc;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 45%;
}
.service-icon i
{
    font-size: 24px; 
    margin-top: 20%;
    color: #3399cc;
}
.service-block h4
{
    padding: 5px;
    color: #3399cc;

}
.skills-section
{
    padding: 10px 0 30px;
    background-color: #0f1419;
}
.skills-header
{
    color: #8a6d3b;
}
.skills-group
{
    margin: 10px 0;
    padding: 5px 0;
}
.skills-block
{
    margin-bottom: 10px;
    padding: 5px;
}
.skills-block-head
{
    margin-bottom: 5px;
    padding: 5px 0;
    text-align: center;
}
.skills-block p
{
    color: #fff;
}
.skills-icon
{
    float: left;
    background-color: #8a6b3d;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.skills-icon i
{
    color: #fff;
    font-size: 20px;
    margin-top: 25%;
}
.skills-head
{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    color: #8a6b3d;
}
.technologies-section
{
     padding: 20px 0 50px;
     background-color: #f4f4f4;
}
.technologies
{
    padding: 15px 0;
    margin-bottom: 10px;
}
.tech-title
{
    padding: 8px 0;
}
.technologies h5
{
    color: #1a2930;
}
.experience-section
{
    padding: 30px 0 20px;
}
.experience-info
{
    padding-top: 50px;
}
.experience-info p
{
    padding: 10px 0;
}
.experience-description
{
    padding-top: 50px;
}
.experience-description p
{
    font-size: 16px;
	margin-top: 10px;
}
.exp-job
{
    margin-bottom: 35px;
    padding: 20px 0;
}
.tags
{
    margin-left: 15px;
    margin-top: 5px;
}
.tags i
{
    font-size: 18px;
    color: #008080;
    margin: 10px;
	
}
.contact-section
{
    padding: 30px 0 20px;
}
.contact-segment
{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.underline
{
    border-bottom: solid 1px #3399cc;
    width: 50%;
    display: inline-block;
}
.contact-segment h4
{
    padding: 5px 0 10px;
}

.contact-area 
{
	padding:50px 0 55px 0;
	text-align:center;
}
.contact-list {
	margin:10px 0 0 0;
	padding:0;
}
.contact-list ul {
	list-style:none;
}
.contact-list li {
	text-align:center;
}
.contact-list li i {
	font-size:48px;
	color:#3399cc;
	margin-bottom:16px;
}
.contact-list li h5 {
	font-family: 'Varela Round', sans-serif;
	font-size:18px;
	color:#333333;
	text-transform:capitalize;
	font-weight:400;
	margin-bottom:22px;
	margin-bottom: 20px;
}
.contact-list li h6 {
	margin-bottom:15px;
	font-size:14px;
	font-weight:300;
	font-family: 'Varela Round', sans-serif;
	text-transform:capitalize;
	color:#333333;
}
.contact-list li a {
	font-weight:400;
	color:#3399cc;
	font-size:14px;
	display:block;
	letter-spacing:normal;
	text-transform:none;
	text-decoration:none !important;
}
.get-social
{
	padding:30px 0 45px;
	background:#0f1419;
    text-align: center;
}
.get-social p {
	font-family: 'Varela Round', sans-serif;
	font-size:13px;
	color:#666666;
	margin-bottom:0;
}
.get-social h1
{
    color: #fff;
}
.get-social a {
	font-size: 13px;
    letter-spacing: normal;
    text-decoration: none !important;
    text-transform: capitalize;
	color:#666666;
}
.social-icons {
    margin:0 0 35px 0;
    padding: 0;
}
.social-icons  ul {
    list-style: outside none none;
    margin: 0;
    padding: 0 0 0;
}
.social-icons  ul li {
    display: inline-table;
    margin: 10px 20px;
    padding:0 5px;
}
.social-icons ul li a {
    background:#8a6b3d;
    border-radius: 50%;
    color:#fff;
    display: block;
    font-size:48px;
    height:100px;
    margin: 0;
    padding:12px 0 0 0;
    text-align: center;
    text-decoration: none;
    width:100px;
}

.g-plus a:hover
{
    color: #fff;
    background: #dd4b39;
    text-decoration: none;
}
.linked-in a:hover
{
    color: #fff;
    background: #007ab9;
    text-decoration: none;
}
.fb a:hover
{
    color: #fff;
    background: #3765a3;
    text-decoration: none;
}
.twitt a:hover
{
    color: #fff;
    background: #33bdfd;
    text-decoration: none;
}

.footer-bottom
{
    background-color: #111;
    color: #3399cc;
    padding: 30px 0;
    
}
#toTop 
{
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 60px;
	height: 60px;
	border: none;
	text-indent: 100%;
	background: url(../img/down_arrow.png) no-repeat 0 0;
}
/* Animations*/
.pulse {
    -webkit-animation: pulse 4s infinite;
    -moz-animation: pulse 4s infinite;
    -o-animation: pulse 4s infinite;
    animation: pulse 4s infinite;
}
@-moz-keyframes pulse {
      0% {-moz-transform: scale(0.9, 0.9); opacity: 0.0;}
     50% {opacity: 1.0;}
    100% {-moz-transform: scale(1, 1); opacity: 0.0;}
}
 
@-webkit-keyframes pulse {
      0% {-webkit-transform: scale(0.9, 0.9); opacity: 0.0;}
     50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1, 1); opacity: 0.0;}
}
 
@keyframes pulse {
      0% {scale: (0.9, 0.9); opacity: 0.0;}
     50% {opacity: 1.0;}
    100% {scale: (1, 1); opacity: 0.0;}
}
 
/* Ticking Dial Icon */
.tick {
    -webkit-animation: tick steps(4) 2s infinite normal;
    -moz-animation: tick steps(4) 2s infinite normal;
    -o-animation: tick steps(4) 2s infinite normal;
    animation: tick steps(4) 2s infinite normal;
}
 
@-moz-keyframes tick { 100% { -moz-transform: rotate(360deg); } }
 
@-webkit-keyframes tick { 100% { -webkit-transform: rotate(360deg); } }
 
@keyframes tick { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
  
/* Swaying Happy-Face Icon */
.sway {
    -webkit-animation: sway 3s ease-in-out infinite alternate;
    -moz-animation: sway 3s ease-in-out infinite alternate;
    -o-animation: sway 3s ease-in-out infinite alternate;
    animation: sway 3s ease-in-out infinite alternate;
}
  
@-moz-keyframes sway {
      0% { -moz-transform: rotate(-15deg); }
    100% { -moz-transform: rotate(15deg); }
}
  
@-webkit-keyframes sway {
      0% { -webkit-transform: rotate(-15deg); }
    100% { -webkit-transform: rotate(15deg); }
}
  
@-o-keyframes sway {
      0% { -o-transform: rotate(-15deg); }
    100% { -o-transform: rotate(15deg); }
}
  
@-ms-keyframes sway {
      0% { -ms-transform: rotate(-15deg); }
    100% { -ms-transform: rotate(15deg); }
}
  
@keyframes sway {
      0% { transform: rotate(-15deg); }
    100% { transform: rotate(15deg); }
}
