<section class="contact-area" data-midnight="white">
    <div class="container">
        <div class="section-header">
            <h1>Get in Touch</h1>
            <h4></h4>
        </div>
        <!-- Start: Contact Us Address-->
        <div class="contact-list clearfix">
            <ul>
                <!-- Start: Phone Number list-->
                <li class="col-md-4">
                    <i class="fa fa-phone"></i>
                    <h5>Phone Number</h5>
                    <h6>Give me a ring any time</h6>
                    <a>+263 77 294 3359</a>
                    <a>+263 4 614 096</a>
                </li>
                <!-- End: Phone Number-->
                <!-- Start: Contact Address-->
                <li class="col-md-4">
                    <i class="fa fa-home"></i>
                    <h5>Contact Address</h5>
                    <h6>You can visit me</h6>
                    <a>66A Crete Road</a>
                    <a>Waterfalls</a>
                    <a>Harare, Zimbabwe</a>
                </li>
                <!-- End: Contact Address-->
                <!-- Start: Email Address-->
                <li class="col-md-4">
                    <i class="fa fa-envelope-o"></i>
                    <h5>Email Address</h5>
                    <h6>I'm happy to answer any questions</h6>
                    <a>pfmukwenya@gmail.com</a>
                    <a>pfmukwenya1@outlook.com</a>
                </li>
                <!-- End: Email Address-->
            </ul>
        </div>
        <!-- End: Contact Us Address list-->

    </div>
</section>
<!-- =================================================
Contact Us Area End -->
<section class="get-social">
    <div class="container">
        <div class="section-header">
            <h1>Lets get social</h1>
            <h4></h4>
        </div>
        <div class="row">
            <div class="social-icons">
                <ul>
                    <li class="fb"><a href="https://www.facebook.com/percy.f.mukwenya" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitt"><a href="https://twitter.com/percyrazz" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li class="g-plus"><a href="https://plus.google.com/+PercyMukwenya" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    <li class="linked-in"><a href="https://zw.linkedin.com/in/percy-mukwenya-a046b66a" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>