<section class="banner-section">
    <div class="container">
        <div class="banner-info">
            <h1><span>Hello. </span>I'm Percy Mukwenya.</h1>
            <p>I create cutting edge web & enterprise solutions. I'm the guy who takes your vision and turns it into a world class application. Browse through my site and see what I can do for you.</p>
        </div>
        <div class="banner-btn-group">
            <a href="#services" class="banner-btn">My Services</a>
            <a href="#contact" class="banner-btn">Contact Me</a>
        </div>
    </div>
</section>
<section class="about-section" data-midnight="grey">
    <div class="container">
        <div class="section-header">
            <h1>About Me</h1>
        </div>
        <div class="about-summary">
            <p>
                I am a Microsoft Certified Software Developer with a diverse set of skills ranging from design(PhotoShop, Illustrator), front-end coding(HTML5, CSS & JavaScript) and
                back-end coding(C#, PHP & Node.js). I also have experience in deployment and performance tuning. I have specialized in the Web development using ASP.NET MVC.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row about-de-code">
                    <div class="col-md-12">
                        <div class="about-spec des">
                            <div class="about-head text-center">
                                <h4>Front-Ender</h4>
                            </div>
                            <p>
                                I'm a user Interface Designer with a passion for beautiful and functional user experiences. A minimalist who takes the simple approach because I believe less is more.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="about-spec cod">
                            <div class="about-head text-center">
                                <h4>Full-Stacker</h4>
                            </div>
                            <p>
                                I'm also a Full Stack Developer who focuses on writing clean, elegant and efficient code. Excellent with HTML & CSS, AngularJS and C#. I also develop SQL and NoSQL databases.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="job-titles">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-xs-6 col-sm-6 col-md-6 title-wrap">
                            <i class="fa fa-code"></i>
                            <p>Developer</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 title-wrap">
                            <i class="fa fa-gears" ></i>
                            <p>Systems  Analyst</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-xs-6 col-sm-6 col-md-6 title-wrap">
                            <i class="fa fa-user"></i>
                            <p>User Interface Designer</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 title-wrap">
                            <i class="fa fa-ge"></i>
                            <p>Graphic Designer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="clients-section">
    <div class="container">
        <div class="section-header clients-header">
            <h1>Clients</h1>
            <h4>My current and target markets</h4>
        </div>
        <div class="row client-group">
            <div class="col-md-3 col-sm-3 col-xs-6 client-name">
                <h4>Advertising</h4>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 client-name">
                <h4>Finance</h4>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 client-name">
                <h4>Tourism</h4>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 client-name">
                <h4>HealthCare</h4>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row client-group">
            <div class="col-md-3 col-sm-3 col-xs-6 client-name">
                <h4>Printing</h4>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 client-name">
                <h4>Government</h4>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 client-name">
                <h4>Individuals</h4>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 client-name">
                <h4>All</h4>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<section class="qualification-section" data-midnight="grey">
    <div class="container">
        <div class="section-header">
            <h1>Qualifications/ Skills</h1>
            <h4>My Compitencies</h4>
        </div>
        <div class="row">
            <div class="col-md-6 qualification-half">
                <div class="col-md-12 qualification-group">
                    <h4>BSc Information Systems & Technology, Statistics</h4>
                    <div>
                        <em>University of KwaZulu-Natal</em>
                        <em>2010-2013</em>
                    </div>
                </div>
                <div class="col-md-12 qualification-group">
                    <h4>Advanced & Ordiinary Level</h4>
                    <div>
                        <em>St Ignatius College</em>
                        <em>2002-2007</em>
                    </div>
                </div>
            </div>
            <div class="col-md-6 qualification-half">
                <h4>Summary</h4>
                <p>
                    Started off as a self-taught Graphic Designer at my father's printing company where I got an understanding of design and layouts. Worked full time before leaving
                    for University of KwaZulu- Natal to pursue my degree in Information Systems & Technology, Statistics. I got introduced to the concept of software development and I've loved it since.
                </p>
            </div>
        </div>
        <div class="section-header">
            <h1>Certifications</h1>

        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" ng-src="img/MS_Cert_Blk2.png"  />
            </div>
            <img ng-s/>
            <div class="col-md-6 ">
                <div class="col-md-12 qualification-group">
                    <h4>Microsoft Certified Profesional</h4>
                    <div>
                        <em>16 May 2016</em>
                    </div>
                </div>
                <div class="col-md-12 qualification-group">
                    <h4>Microsoft Specialist: Programming in C#</h4>
                    <div>
                        <em>16 May 2016</em>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
