<section class="experience-section" data-midnight="white">
    <div class="container">
        <div class="section-header">
            <h1>My Experience</h1>
            <h4>What I have done</h4>
        </div>
		<div class="row exp-job">
            <div class="col-md-4 experience-info">
                <h4><a href="http://www.diaphon.co.zw" target="_blank">www.diaphon.co.zw</a></h4>
                <p>Feb 2014- Present</p>
                <div class="tags">
                    <div class="row">
                        <i class="fa fa-html5"></i>
                        <i class="fa fa-css3"></i>
						<i>ASP.NET MVC5</i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 experience-pic">
                <img class="img-responsive" ng-src="img/portfolio-diaphon.png" alt="diaphon website" />
            </div>
            <div class="col-md-4 experience-description">
                <p>
                    Web Application for Diaphon Printers. I developed it using the ASP.NET MVC Framework together with bootstrap for responsiveness.
					Other technologies include the Razor view engine and LINQ.
                </p>
            </div>
        </div>
        <hr />
        <div class="row exp-job">
            <div class="col-md-4 experience-info">
                <h4><a href="http://www.thermobag.co.zw" target="_blank">www.thermobag.co.zw</a></h4>
                <p>May 2015- Present</p>
                <div class="tags">
                    <div class="row">
                        <i class="fa fa-html5"></i>
                        <i class="fa fa-css3"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 experience-pic">
                <img class="img-responsive" ng-src="img/portfolio-thermobag.png" alt="thermobag website" />
            </div>
            <div class="col-md-4 experience-description">
                <p>
                    Marketing platform for thermobag. A cooking innovation that is hot on the market. I was involved in logo design, photography and web desing
                    and development.
                </p>
            </div>
        </div>
        <hr />
        <div class="row exp-job">
            <div class="col-md-4 experience-info">
                <h4><a href="http://www.percymukwenya.com" target="_blank">www.percymukwenya.com</a></h4>
                <p>December 2015- Present</p>
                <div class="tags">
                    <div class="row">
                        <i>AngularJS</i>
                        <i>Bootstrap</i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 experience-pic">
                <img class="img-responsive" ng-src="img/portfolio-percy.png" alt="percy-mukwenya website"/>
            </div>
            <div class="col-md-4 experience-description">
                <p>
                    Online Resume/ Portfolio developed using Responsive web design. I coded it from the ground
                    up using traditional HTML and css, with a little help from bootstrap and jQuery. I continuously improve the site
                    to best show my skills.
                </p>
            </div>
        </div>
        <hr />
        <div class="row exp-job">
            <div class="col-md-4 experience-info">
                <h4><a href="http://www.zwgowns.com" target="_blank">www.zwgowns.com</a></h4>
                <p>August 2015- Present</p>
                <div class="tags">
                    <div class="row">
                        <i class="fa fa-html5"></i>
                        <i class="fa fa-css3"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 experience-pic">
                <img class="img-responsive" ng-src="img/portfolio-zwg.png" alt="zwgowns website"/>
            </div>
            <div class="col-md-4 experience-description">
                <p>
                    Digital wedding gown store implimented coded from the ground
                    up using AngularJS, with a little help from bootstrap and jQuery. I continuously improve the site
                    to best show my skills for better usability.
                </p>
            </div>
        </div>
        <hr />
    </div>
</section>
