<section class="service-section " data-midnight="grey">
    <div class="container">
        <div class="section-header">
            <h1>My Services</h1>
            <h4>What I can do for you</h4>
        </div>
        <div class="row service-group">
            <div class="col-md-4 col-sm-4 service-block">
                <div class="service-icon">
                    <i class="fa fa-laptop"></i>
                </div>
                <h4>Web Development</h4>
                <p>Developing responsive web apps using modern technologies like ASP.Net, C#.MVC, AngularJS.</p>
            </div>
            <div class="col-md-4 col-sm-4 service-block">
                <div class="service-icon text-center">
                    <i class="fa fa-ge" ></i>
                </div>
                <h4>Graphic Design</h4>
                <p>Visually communicating client content. This includes logos, magazines, web elements and any branding you may need.</p>
            </div>
            <div class="col-md-4 col-sm-4 service-block">
                <div class="service-icon text-center">
                    <i class="fa fa-sitemap"></i>
                </div>
                <h4>UI/ UX Design</h4>
                <p>Design of optimum user interfaces to provide the total experience of the user as they browse through a website or app.</p>
            </div>
        </div>
        <div class="row service-group">
            <div class="col-md-4 col-sm-4 service-block">
                <div class="service-icon text-center">
                    <i class="fa fa-building-o" ></i>
                </div>
                <h4>Enterprise App Development</h4>
                <p>Developing Enterprise web and desktop applications for organisations and governments productivity and ease of work flow.</p>
            </div>
            <div class="col-md-4 col-sm-4 service-block">
                <div class="service-icon text-center">
                    <i class="fa fa-database"></i>
                </div>
                <h4>Databases</h4>
                <p>SQL and NoSQL database solutions for data storages, data analysis and application development.</p>
            </div>
            <div class="col-md-4 col-sm-4 service-block">
                <div class="service-icon text-center">
                    <i class="fa fa-cloud"></i>
                </div>
                <h4>Web Services</h4>
                <p>REST APIs that allow intergrated data to be consumed by Web and mobile applications.</p>
            </div>
        </div>
    </div>
</section>
<section class="skills-section">
    <div class="container">
        <div class="section-header skills-header">
            <h1>My Skills</h1>
            <h4>What I'm competent in</h4>
        </div>
        <div class="row skills-group">
            <div class="col-md-3 col-sm-6 skills-block">
                <div class="skills-block-head">
                    <div class="skills-icon">
                        <i class="fa fa-tablet"></i>
                    </div>
                    <div class="skills-head">
                        <h4>Responsive Design</h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <p>I develop web solutions that are accessible on devices of different sizes, from smartphones to tablets to large screen PCs.</p>
            </div>
            <div class="col-md-3 col-sm-6 skills-block">
                <div class="skills-block-head">
                    <div class="skills-icon">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="skills-head">
                        <h4>Programming</h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <p>I write awesome code. My languages of choice include C#, HTML, CSS and JavaScript.</p>
            </div>
            <div class="col-md-3 col-sm-6 skills-block">
                <div class="skills-block-head">
                    <div class="skills-icon">
                        <i class="fa fa-desktop"></i>
                    </div>
                    <div class="skills-head">
                        <h4>User Interface Design</h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <p>I develop my solutions with the user in mind. My focus is to make sure the user interface is intuitive and provides the ultimate experience for them.</p>
            </div>
            <div class="col-md-3 col-sm-6 skills-block">
                <div class="skills-block-head">
                    <div class="skills-icon">
                        <i class="fa fa-database"></i>
                    </div>
                    <div class="skills-head">
                        <h4>Database Development</h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <p>SQL solutions including SQL Server and MySQL. NoSQL solution, MongoDB</p>
            </div>
        </div>
        <div class="row skills-group">
            <div class="col-md-3 col-sm-6 skills-block">
                <div class="skills-block-head">
                    <div class="skills-icon">
                        <i class="fa fa-heart-o"></i>
                    </div>
                    <div class="skills-head">
                        <h4>Branding & Design</h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <p>I create impressions for companies and individuals by branding, designing & managing brands for startups and existing organisations.</p>
            </div>
            <div class="col-md-3 col-sm-6 skills-block">
                <div class="skills-block-head">
                    <div class="skills-icon">
                        <i class="fa fa-mobile"></i>
                    </div>
                    <div class="skills-head">
                        <h4>Mobile App Dev.</h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <p>I develop mobile applications for Android, iOS and Windows phone using best practices and latest technologies.</p>
            </div>
            <div class="col-md-3 col-sm-6 skills-block">
                <div class="skills-block-head">
                    <div class="skills-icon">
                        <i class="fa fa-cubes"></i>
                    </div>
                    <div class="skills-head">
                        <h4>Digital Marketing</h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <p>Promoting brands and products on the internet and other digital mediums. I do Search Engine Optimisation, social media marketing and online advertising.</p>
            </div>
            <div class="col-md-3 col-sm-6 skills-block">
                <div class="skills-block-head">
                    <div class="skills-icon">
                        <i class="fa fa-hourglass-o"></i>
                    </div>
                    <div class="skills-head">
                        <h4>Project Management</h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <p>I apply my knowledge, skill and tools to project activities to ensure smooth workflow and timely delivery of final product.</p>
            </div>
        </div>
    </div>
</section>
<section class="technologies-section" data-midnight="grey">
    <div class="container">
        <div class="section-header">
            <h1>Technologies</h1>
            <h4>Tools and Frameworks</h4>
        </div>
        <div class="row technologies">
            <div class="col-md-2 col-sm-2 col-xs-4 tech-title">
                <h5>.NET</h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 tech-title">
                <h5>ASP.NET</h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 tech-title">
                <h5>ASP.NET MVC</h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 tech-title">
                <h5>Entity Framework</h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 tech-title">
                <h5>IIS</h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 tech-title">
                <h5>Microsoft Azure</h5>
            </div>
        </div>
        <div class="row technologies">
            <div class="col-md-2 col-sm-2 col-xs-4 tech-title">
                <h5>Web Essentials</h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 tech-title">
                <h5>MS SQL Server</h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 tech-title">
                <h5>Git/ GitHub</h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 tech-title">
                <h5>NPM & NuGet</h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 tech-title">
                <h5>PhoneGAp/ Cordova</h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 tech-title">
                <h5>Web API</h5>
            </div>
        </div>
        <div class="section-header">
            <h1>Programming</h1>
            <h4>Languages and Frameworks</h4>
        </div>
        <div class="row technologies">
            <div class="col-md-2 col-sm-2 col-xs-4 tech-title">
                <h5>C#</h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 tech-title">
                <h5>HTML</h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 tech-title">
                <h5>CSS</h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 tech-title">
                <h5>JavaScript</h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 tech-title">
                <h5>LESS/ SASS</h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 tech-title">
                <h5>SQL/ T-SQL</h5>
            </div>
        </div>
        <div class="row technologies">
            <div class="col-md-2 col-sm-2 col-xs-4 tech-title">
                <h5>Bootstrap</h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 tech-title">
                <h5>Angular.js</h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 tech-title">
                <h5>jQuery</h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 tech-title">
                <h5>Node.js</h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 tech-title">
                <h5>Express</h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 tech-title">
                <h5>Ionic</h5>
            </div>
        </div>
    </div>
</section>